<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">They donate their time, skills and passion to give life to this project.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Early 2018</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This project starts in the morning prayer, a time set apart to listen to the Lord Jesus and speak to him. As it grows, the idea of the Bible study by writing next to the verses became more persistant.We did some research and typeset the first Bible!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2018</h4>
                                    <h4 class="subheading">We typeset the first Bible</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We typeset the first Bible using Latex. It was a KJV, in English. But shortly, we needed to have a Bible in French, so we looked and found a LSG Bible in French.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2018</h4>
                                    <h4 class="subheading">Transition to a French Bible</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our main European language is French. To test the study experience, we needed a Bible in French, with the margin to see how we can study and how efficient this model is. We were amazed how much we learn.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Adding more material in the margin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We noticed that more material is needed to have an in depth study. We gathered some references and worked to add them to the typeset Bible. And the story goes on, as we discover more pattern in the Bible, as we continue studying...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScyVyTXo7_Jzq21rkZiBn-Wy5hHLWvQYhYH6i6c3LqdwD-DFQ/viewform" target="_blank">
                              <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                              </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
