<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">Set of features included in the study Bible.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Wide margin for notes taking</h4>
                    <p class="text-muted">
                        In the Bible we typeset, we leave a margin on each page for your notes. 
                        There are two column: one with the Bible verses, the other with space so you can write there. 
                        You can print each chapter and write with a pencil or directly take notes with a stylus on the PDF page.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Contextual information</h4>
                    <p class="text-muted">
                        We gather some contextual information like cross-references on each page, related to a verse. 
                        During your study, we can refer to it in order to enrich your knowledge.
                        We will also typeset maps and other useful information with the verses to ease your study.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Summary sheet for reminders</h4>
                    <p class="text-muted">
                        A summary sheet is a page where we lease space and some intructions to write key points of your readings.
                        The sheet is to help you memorise the Bible chapters you read. 
                        At the end of the book, you can reuse this chapter key points as milestones to reminder the stories, events, characters or teachings..
                    </p>
                </div>
            </div>
        </div>
    </section>
